* {
  cursor: pointer;
  transition: 00.2s;
}

.fm {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.font {
  font-weight: 500;
}

.bx {
  border-radius: 15px;
  border: none;
  border-left: 15px solid #ffee00;
  color: #000080;
}

.bx:hover {
  box-shadow: 10px 20px 20px 0px #0058b686;
  margin-top: 0.2rem;
}

.bx1 {
  border-radius: 15px;
  border: none;
  border-left: 15px solid #6500a8;
  color: #000080;
}

.bx1:hover {
  box-shadow: 10px 20px 20px 0px #0058b686;
  margin-top: 0.2rem;
}

.bx2 {
  border-radius: 15px;
  border: none;
  border-left: 15px solid #1ca800;
  color: #000080;
}

.bx2:hover {
  box-shadow: 10px 20px 20px 0px #0058b686;
  margin-top: 0.2rem;
}

.dashbtn {
  border: none;
  background-color: #000080;
  color: white;
  border-radius: 0px 0px 15px 0px;
  width: 100%;
}

.rp {
  border-radius: 15px;
  background-color: #018abe;
}

.rph1 {
  color: white;
}

.ah {
  text-align: center;
}

.d {
  border: solid black;
  margin-top: 40px;
}

.btnn {
  color: white;
  background-color: #0079a8;
  border: none;
  border-radius: 0px 0px 15px 15px;
  width: 100%;
}

.btnn:hover {
  color: white;
  background-color: #0079a8;
  border: none;
  border-radius: 0px 0px 15px 15px;
  width: 100%;
}

.small-box-footer {
  border-radius: 0px 0px 15px 15px;
}

.btn {
  border-radius: 7px;
  border: none;
  background-color: #000080;
}

.he {
  background-color: rgb(206, 206, 255);
}

.navba {
  background-color: #000080;
}

.btn:hover {
  box-shadow: 5px 5px 20px 0px #0058b686;
  background-color: #0000bd;
}

.i {
  color: white;
}

.nav-link {
  padding-left: 30px;
  transition: 00.2s;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #0000a7;
  border-radius: 25px;
  box-shadow: 10px 20px 20px 0px #000052;
  letter-spacing: 0.1rem;
}

@media (max-width: 1024px) {
  .bxf {
    color: #000052;
    padding: 0%;
  }
}

@media (max-width: 768px) {
  .bxf {
    color: #000052;
    padding-left: 35%;
  }
}

@media (max-width: 425px) {
  .bxf {
    color: #000052;
    padding-left: 10%;
  }
}
